ul {
  padding-left: 0;
  display: flex;
  font-size: 19px;
  list-style: none;
  background-color: #444;
  color: #fff;
}

li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 1;
  height: 100px;
  text-transform: uppercase;
  border: solid 1px #fff;
  border-bottom: solid 4px red;
}
