@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  color: #444;
  font-size: 25px;
  margin: 0;
  padding: 0;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 95vw;
  margin: 0 auto;
  background-color: whitesmoke;
}
#summary {
  display: flex;
  height: 82vh;
  margin-bottom: 5px;
}
#summary .moneySummary {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;
}
.moneySummary div {
  margin: 15px 0 0 5px;
  padding: 20px;
  font-size: 32px;
  border-radius: 5px;
  box-shadow: 5px 10px #ccc;
}
